<!doctype html>
<html>
  <head>
    <title>Converse.ly</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <section id="react-mount"></section>
    <script src="/js/app.js"></script>
  </body>
</html>
