<!doctype html>
<html>
  <head>
    <title>React Demo</title>
  </head>
  <body>

    <main id="react-mount" class="main" role="main"></main>

    <!-- comment out main.js to see server side rendering -->
    <script src="/app.js"></script>

  </body>
</html>
