<!doctype html>
<html>
  <head>
    <title>Converse.ly</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    
    <script src="http://cdn.pubnub.com/pubnub-3.7.1.min.js"></script> 
    <script src="http://stephenlb.github.io/webrtc-sdk/js/webrtc.js"></script>
    
    <section id="react-mount"></section>
    <script src="/js/app.js"></script>
  </body>
</html>
