// compass css3 lib
@import "compass/css3";

// local variables
@import "variables";

// import css reset first
@import "../bower_components/foundation/scss/normalize";

// import foundation config
@import "foundation/foundation_variables";
@import "foundation/foundation_importer";

body {
  -webkit-font-smoothing: antialiased;
  background-color:#175AA6;
}

body {
  background-size:cover;
  background-position: center center;
  background-image:url('/img/home_bg.jpg');
}

.playfair {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

#homePageButton {
	margin-top:12rem;
}

#sidebar {
  background-color:$primary-color;
  height:750px;
}

#primary {
  background-color:#FFF2DA;
}

.button {
  &.shadow {
    @include box-shadow(0 0 30px rgba(0, 0, 0, .1));
    @include single-transition(all);
    position: relative;
    &:focus {
      top:2px;
    }
  }
}

.text-white {
  color:$white;
}

#callRandomUser {
	margin-top:12rem;
}
.round {
  @include border-radius(50%);
}

.auto-margin {
  display:block;
  margin:0 auto;
}

#fromTheTop {
  margin-top: 70px;
}

.profile {
  border-radius: 50px;
}

#contactSubmit {
  margin-left: 370px;
}

.logo {
  margin: 5px;
  width: 30px;
}

.orbitText {
  font-size: 100px;
  margin-left: 30px;
}

//callView styles
#messagearea {
  height: 200px;
  overflow-y: scroll;
  overflow-x:hidden;
  word-wrap: break-word;
  background-color: #ffffff;
  padding: 5px 8px 5px 8px;
}

#inputmessage {
  margin-top: 5px;
}

header.top-bar {
  @include box-shadow(0 20px 40px rgba(0, 0, 0, .05));
}

.lets-talk-about {
  margin-top:150px;
  margin-bottom:0;
  font-size:72px;
  &+.lets-talk-about {
    margin-top:-20px;
    margin-bottom:.5em;
    font-size:72px;
    font-weight:700;
  }
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
