// compass css3 lib
@import "compass/css3";

// local variables
@import "variables";

// import css reset first
@import "../bower_components/foundation/scss/normalize";

// import foundation config
@import "foundation/foundation_variables";
@import "foundation/foundation_importer";

body {
  -webkit-font-smoothing: antialiased;
  background-color:#175AA6;
  background-size:cover;
  background-position: center center;
  background-image:url('/img/home_bg.jpg');
  background-attachment: fixed;
}

.playfair {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

#homePageButton {
	margin-top:12rem;
}

#sidebar {
  background-color:#183a5c;
  min-height: 1000px;
}

#primary {
  background-color:#ededed;
  min-height: 1000px;
  padding: 0px;
}

.button {
  &.shadow {
    @include box-shadow(0 0 30px rgba(0, 0, 0, .1));
    @include single-transition(all);
    position: relative;
    &:focus {
      top:2px;
    }
  }
}

.text-white {
  color:$white;
}

#call-user-interests {
	margin-top:15rem;
}
.round {
  @include border-radius(50%);
}

.auto-margin {
  display:block;
  margin:0 auto;
}

#fromTheTop {
  margin-top: 70px;
}

.profile {
  @include border-radius(50%);
}

#contactSubmit {
  margin-left: 370px;
}

.logo {
  margin: 5px;
  width: 30px;
}

.orbitText {
  font-size: 100px;
  margin-left: 30px;
}

//callView styles
#messagearea {
  height: 200px;
  overflow-y: scroll;
  overflow-x:hidden;
  word-wrap: break-word;
  background-color: #FFFFFF;
  padding: 5px 8px 5px 8px;
}

#inputmessage {
  margin-top: 13px;
}

header.top-bar {
  @include box-shadow(0 20px 40px rgba(0, 0, 0, .05));
}

.lets-talk-about {
  margin-top:150px;
  margin-bottom:0;
  font-size:72px;
  &+.lets-talk-about {
    margin-top:-20px;
    margin-bottom:.5em;
    font-size:72px;
    font-weight:700;
  }
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.connected {
  border: 3px solid #9CFDFF;
}

#sendbutton {
  margin-top: 3px;
  float: right;
}

#callbuttons {
  margin-top: 139px;
}

@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot?-vikqp4');
  src:url('/fonts/icomoon.eot?#iefix-vikqp4') format('embedded-opentype'),
    url('/fonts/icomoon.woff?-vikqp4') format('woff'),
    url('/fonts/icomoon.ttf?-vikqp4') format('truetype'),
    url('/fonts/icomoon.svg?-vikqp4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
  font-size: 20px;
  margin-right: 5px;
}

.icon-phone-hang-up:before {
  content: "\e943";
  font-size: 20px;
  margin-right: 5px;
}

.icon-volume-high2:before {
  content: "\e38f";
  font-size: 48px;
  color: #2BC9DD;
}

.icon-volume-high:before {
  content: "\ea26";
  font-size: 48px;
  color: #2BC9DD;
}

.icon-volume-mute:before {
  content: "\e393";
  font-size: 48px;
}

.icon-volume-mute2:before {
  content: "\ea2a";
  font-size: 48px;
}

#lefticon {
  margin-top: 50px;
  float:left;
}

#righticon {
  margin-top: 50px;
  float:right;
  margin-right: 52px;
  margin-left: 130px;
}

.forms {
  background-color: azure;
}

////////////////////////////
///// DASHBOARD STYLES /////
////////////////////////////

.username {
  color: #FFFFFF;
  text-align: right;
  font-size: 2em;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

#sidebar-avatar {
  float: right;
}

#interests-title {
  text-align: right;
  color: #FFFFFF;
}

#interests-section {
  margin-top: 10px;
}

.sidebar-summary {
  margin-top: 8px;
  text-align: right;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

.sidebar-summary-title {
  margin-top: 1.2rem;
  font-weight: 400;
  font-size: 1.2em;
}

.sidebar-summary-text {
  font-weight: 300;
}

.dash-buttons-panel {
  margin-top: 50px;
  border: none;
  background-color: #E0EFFF;
}

#dash-intro {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

#dash-headline {
  font-size: 3em;
  color: #4b4b4b;
  font-weight: 400;
}

#dash-desc {
  margin-top: 20px;
}

.channel-header {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  color: #4b4b4b;
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.css-columns {
  @include columns(5em 4);
}

.channels {
  font-size: 1.2em !important;
  background: #c9c9c9;
  &:hover {
    background: #b3b3b3;
  }
}

.iscalling {
  font-size: 1.2em !important;
}

.channel-name {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  color: #4b4b4b;
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

#edit-profile-header {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  color: #4b4b4b;
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.2s;
  -moz-animation-duration:0.2s;
  animation-duration:0.2s;
}

.fade-one {
  -webkit-animation-duration:0.1s;
  -moz-animation-duration:0.1s;
  animation-duration:0.1s;
}

legend {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #4b4b4b;
  font-weight: 300;
}

#legend {
  font-weight: 300;
  background-color: transparent;
}

.profile-submit {
  margin-top: 1.5rem;
}


.tech {
  height: 200px;
  width: 200px;
  padding: 25px;
}

/******* Homepage Divier Things ********/

.bg {
  padding: 30px;
  background-color: rgba(43, 201, 221, 0.36);
}

.bg h1 {
  color: azure;
}

.bg h3 {
  color: azure;
}

.bg h5 {
  color: azure;
}

#footer {
  margin: 0 auto;
}

.arrow {
  position: fixed;
  display: block;
}

/*
.divider {
  height: 300px;
}
*/

.bg-tech {
  background-color: rgba(98, 103, 128, 0.53);
}

.bg-tech h1 {
  color: azure;
}

.scrollToTop{
  width:100px; 
  height:130px;
  padding:10px; 
  text-align:center; 
  background: whiteSmoke;
  font-weight: bold;
  color: #2bc9dd;
  text-decoration: none;
  position:fixed;
  top:75px;
  right:40px;
  display:none;
  background: url('arrow_up.png') no-repeat 0px 20px;
}

.scrollToTop:hover{
  text-decoration:none;
}